
body{
    font-family: 'Roboto Slab', serif;
    background: grey;
}

.container{
    /* height: 330px; */
    width: 1000px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    background: rgb(73, 3, 73);
    padding: 20px;
    border: 1 px solid #08038C;
    box-shadow: 0 0 8px 3px #fff;
}

.title{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: gold
}

.question{
    padding: 20px;
    font-size: 22px;
    background: grey;
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: gold
}

.option{
    width: 470px;
    display: inline-block;
    padding: 10px 0 10px 15px;
    vertical-align: middle;
    background: grey;
    margin: 10px 0 10px 10px;
    color: gold;
    border-radius: 20px; 
    cursor: pointer;
}

.option:hover{
    background: black;
    color: #f6f6f6;
}

.next-btn{
    border:none;
    outline: none;
    background: gold;
    width: 100px;
    height: 35px;
    border-radius: 20px;
    cursor: pointer;
    float: right;
    margin: 10px;
}

.next-btn:hover{
    background: grey;
    color: #f6f6f6;
}

.result{
    /* height: 100px; */
    text-align: center;
    font-size: 75px;
    color: gold;
}

.option input:checked .option{
    background: #08038C;
    color: #000000;
}

#timer {
    position: fixed;
    top: 25px;
    right: 30px;
    font-size: 25px;
}

.time-left {
    position: fixed;
    top: 25px;
    right: 95px;
    font-size: 25px;


}
.highscore {
    position: fixed;
    top: 25px;
    font-size: 25px;
}